version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: mern-backend
    ports:
      - "5000:5000"
     
    environment:
      - NODE_ENV=production
      - PORT=5000
      - REDIS_HOST=redis  # Ensure your backend connects to Redis via its service name
    env_file:
      - .env   
    depends_on:
      - redis

  frontend:
    build: ./frontend
    container_name: mern-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  redis:
    image: redis:alpine
    container_name: mern-redis
    ports:
      - "6379:6379"
